* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    width: 100%vw;
    height: 100vh;
}

/* styles for the homepage component  */

.container {
    padding: 0px 60px;
}

.featured {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px auto;
    font-size: 32px;
}

.featured a {
    text-decoration: none;
    color: crimson;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.movieContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    margin: 0px auto 80px;
}

/* Media query for 425px */

@media screen and (max-width: 425px) {

    .container {
        padding: 0px 30px;
    }

    .featured {
        font-size: 24px;
    }

    .featured a {
        font-size: 14px;
    }

    .movieContainer {
        display: flex;
        flex-wrap: wrap;
        margin: 0px auto;
        /* padding: 0px 60px; */
    }
}
