.navigation {
    display: flex;
    justify-content: space-between;
    margin: 0px 40px;
    align-items: center;
}

.navigation div {
    flex: 1 auto;
}

.navigation div.logo {
    color: #FFFFFF;
    position: absolute;
    top: 4%;
    left: 5%;
    font-size: 24px;
    cursor:pointer
}

.navigation div.logo span {
    color: crimson
}

.navigation form.search input[type=text] {
    position: absolute;
    top: 4%;
    left: 25%;
    border: 2px solid #D1D5DB;
    border-radius: 5px;
    padding: 2px 10px;
    width: 50%;
    height: 20px;
    background: transparent;
    color: #FFFFFF;
    font-size: 14px;
}

.navigation form.search .searchIcon {
    position: absolute;
    color: #FFFFFF;
    top: 4.7%;
    right: 24%;
    font-size: 18px;
    cursor: pointer
}

.navigation form.search input[type=text]::placeholder {
    color: #FFFFFF;
    font-size: 14px;
}

.navigation form.search input[type=text]:focus {
    outline: none;
}

.navigation div.userLogin {
    position: absolute;
    top: 4.5%;
    right: 4%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation div.userLogin .hamburgerContainer {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: crimson;
    margin-left: 15px;
    position: relative;
    cursor: pointer
}

.hamburgerContainer .hamburgerLineOne, .hamburgerContainer .hamburgerLineTwo {
    border: 1.5px solid #FFFFFF;
    position: absolute;
    width: 8px;
    left: 28%;
}

.hamburgerContainer .hamburgerLineOne {
    top: 36%;
}

.hamburgerContainer .hamburgerLineTwo {
    bottom: 36%;
}

/* Media query for 768px */

@media screen and (max-width: 768px) {
    .navigation form.search input[type=text] {
        left: 30%;
        width: 40%;
    }

    .navigation form.search .searchIcon {
        right: 28%;
        font-size: 18px;
        cursor: pointer
    }
}

/* Media query for 425px */

@media screen and (max-width: 425px) {

    .navigation div.logo {
        font-size: 18px; 
    }

    .navigation form.search input[type=text] {
        left: 32%;
        width: 50%;
        font-size: 12px;
        padding: 2px 5px;
    }

    .navigation form.search input[type=text]::placeholder {
        font-size: 12px;
    }

    .navigation form.search .searchIcon {
        top: 7.0%;
        right: 17%;
        font-size: 14px;
    }

    .navigation div.userLogin p {
        display: none
    }
}

/* Media query for 375px */

@media screen and (max-width: 375px) {

    .navigation div.logo {
        font-size: 16px; 
    }
}